@charset "UTF-8";
:root{
    --white:#fff;
    --whitefa:#fafafa;
    --blacka1:#1c1c1c;
    --balck00:#000;
    --orange:#f26900;
    --yellow:#E87722;
    
    --gray:#adadad; /*input border*/
    --light-gray: #ADADAD;
    --primary:#043b72;
    --primary2:#eff5ff;
    --red:#BA1A1A;
    --blue:#006FB3;
    --w:100%;
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  src: url("../font/Roboto-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url("../font/Roboto-Light.woff") format("woff"), url("../font/Roboto-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url("../font/Roboto-Medium.woff") format("woff"), url("../font/Roboto-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  src: url("../font/Roboto-Bold.ttf") format("ttf"), url("../font/Roboto-Bold.woff") format("woff");
}   
    
body, select, textarea, input, button{
  font-size: 12px;
  line-height: 1.4;
  color:var(--blacka1);
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
.align-top{
  text-align: top;
}
.align-bottom{
  text-align: bottom;
}
.flex{
  display: flex;
  align-items: center;
  gap:5px;
  
}
.flex-a-top{
  align-items: flex-start;
}

.flex-a-right{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tal {
  text-align: left !important;
}
.tac {
  text-align: center !important;
}
.tar {
  text-align: right !important;
}
.red{
  color:var(--red) !important;
}
.orange{
  color:var(--orange) !important;
}
.yellow{
  color:var(--yellow) !important
}
.blue{
  color:var(--blue) !important;
}
.fs12{
  font-size: 12px;
}
.w50px{width: 50px !important;}
.w70px{width: 70px !important;}
.w100{width: 100% !important;}

.mt10{margin-top:10px}
/*input*/
.textarea, .select, .input {    
    box-sizing: border-box;
    background-color:var(--white);
    padding-inline: 8px;
    color:var(--blacka1);
    font-size: 12px;    
    letter-spacing: 0rem;
    border-radius: 3px;
    border: 1px solid var(--gray);
    background: var(--white);
    height: 24px;
    width: calc(var(--w, auto) * 1px);
    padding:4px 10px;
  }
  .textarea::placeholder, .select::placeholder, .input::placeholder {
    color: #cccccc;
  }
  .textarea:disabled, .select:disabled, .input:disabled {
    background: rgba(0, 0, 0, 0.1);
  }
  [readonly].textarea, [readonly].select, [readonly].input {
    background: rgba(0, 0, 0, 0.05);
  }
  textarea:focus, 
  select:focus,
  input:focus,
  button:focus{
    border:2px solid var(--primary);
  }
  .select {
    background: url(../images/bg_select.svg) no-repeat right 8px center;
    background-size: 7px;
    padding-right:3px;
    appearance: none;
    width: 100%;
  }
  /*checkbox*/
  
  .check-group{
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  .check-group .check-type1 {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .check-group +  .check-group{
    margin: 0 ;
  }
  .check-group .check-type1 + label{
    display:inline-flex;
    align-items: center;
    font-size: 14px;
  }
  .check-group .check-type1 + label::before {
    background: url(../images/bg_check_off.svg) no-repeat center center;
    content: "";
    width:24px;
    height: 24px;
    display: inline-block;
    background-size: 18px;  
  }
  .check-group .check-type1:checked + label::before {
    background: url(../images/bg_check_on.svg) no-repeat center center;
    background-size: 18px;
  }
  .check-group .radio-type1 {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .check-group .radio-type1 + label{
    display:inline-flex;
    align-items: center;
    font-size: 14px;
  }
 
  .check-group .radio-type1 + label::before {
    background: url(../images/bg_radio_off.svg) no-repeat center center;
    content: "";
    width:24px;
    height: 24px;
    display: inline-block;
    background-size: 18px;  
  }
  .check-group .radio-type1:checked + label::before {
    background: url(../images/bg_radio_on.svg) no-repeat center center;
    background-size: 18px;
  }
  .check-group input[type=radio]:disabled + label,
  .check-group input[type=checkbox]:disabled + label{
    color:#8e8e8e;
    cursor: default;
  }
  .check-group input[type=checkbox]:disabled ~ label:before{
  
    background: url(../images/bg_check_off_disabled.svg) center center no-repeat;
    background-size: 18px;
  }
  .check-group input[type=checkbox]:checked:disabled ~ label:before{
  
    background: url(../images/bg_check_on_disabled.svg) center center no-repeat;
    background-size: 18px;
  }
  .check-group input[type=radio]:checked:disabled + label,
  .check-group input[type=checkbox]:checked:disabled + label{
    color:#A1A0A0;
    cursor: default;
  }
  .check-group input[type=radio]:checked:disabled ~ label:before{
    background:url(../images/bg_radio_check_disabled.svg) center center no-repeat;
    background-size: 18px;
  }
  .grid-check{
    display: block;
    align-items: center;
    margin-right: 0;
  }
  /*datepicker*/
  .ui-widget.ui-widget-content{
    /* 전체 박스 */
    border:0px;
    box-shadow: 5px 5px 10px #ccc;
    border:1px solid #c6c6c6;
    padding:0;
    
  }
  .ui-widget-header{
    /* 헤더 (화살표/날짜표시 영역) */
    background: #EDF1F5;
    border: 0px;
    border-radius: 0px;
  }
  .ui-widget-header .ui-icon{
    /* 이전,다음 화살표 */
    background: none;
  }
  .ui-datepicker-prev{
    /* 이전 화살표 */
    text-align:center;
    line-height: 2em;
  }
  .ui-datepicker-prev::before{
    content: '';
    background:url(../images/cal_arrow.svg) center center no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 8px 12px;
    transform: rotate(-180deg);
  }
  .ui-datepicker-next{
    /* 다음 화살표 */
    text-align:center;
    line-height: 20px;
  }
  /*font-awesome 이용해서 화살표 변경*/
  .ui-datepicker-next::before{
    content: '';
    background:url(../images/cal_arrow.svg) center center no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 8px 12px;

  }
  .ui-datepicker .ui-datepicker-title{
    /* 년월 텍스트 묶음 */
    color: #fff;
  }
  .ui-datepicker .ui-datepicker-title .ui-datepicker-year{
    /* 년도 숫자만 */
    color: var(--blacka1);
    font-weight: 500;
  }
  .ui-datepicker .ui-datepicker-title .ui-datepicker-month{
    /* *월 */
    color: var(--blacka1);
    font-weight: 500;
  }
  .ui-datepicker th{
    /* 요일 영역 */
    background : var(--white);
  }
  .ui-datepicker th span{
    /* 요일 텍스트 */
    font-size:13px;
    color: var(--blacka1);
    font-weight: 600;
  }
  
  
  .ui-datepicker td.ui-datepicker-today .ui-state-active {
    color:white;
    background:#246BEB;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    /* 일자 기본영역 */
    border:0px;
    background: none;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 100%;
    padding:0;
    margin: 0 auto;
  }
  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    /* 오늘일자 */
    border:0px;
    background:#246BEB;
    color: #fff;
  }
  
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    /* 선택 일자 */
    background: white;
    color: var(--blacka1);
    border:1px solid #246BEB;
  }
  .ui-datepicker .ui-state-hover{
    background:#d3e1fb;
    border-radius: 0;
  }
/*button*/
.btn{
  display: inline-flex;
  align-items: center;
  gap:5px;
  width: auto;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size:12px;
  color: #1C1C1C;
  background:var(--white);
  border:1px solid #918578;
  border-radius: 3px;
  padding:0 8px;
  }
  
  .btn.primary{
    background:var(--primary);
    border:1px solid var(--primary);
    color:var(--white);
  }
  .btn.primary:hover{
    background:#0957a5;
    border:1px solid #0957a5;
    color:var(--white);
  }
  .btn.primary:disabled{
    background:#d8d8d8;
    border:1px solid #d8d8d8;
    color:#717171;
    cursor: default;
  }
  .btn.secondar{
    background: var(--primary2);
    border:1px solid var(--primary);
    color:#1D56BC;
  }
  .btn.tertiary{
    background: var(--white);
    color:var(--blacka1);
  }
  .btn.success{
    background: #198754;
    border:1px solid #198754;
    color:var(--white);
  }
  .btn.success:hover{
    background: #157347;
    border:1px solid #146c43;
    color:var(--white);
  }
  .btn.success:disabled{
    background:#d8d8d8;
    border:1px solid #d8d8d8;
    color:#717171;
    cursor: default;
  }
  .btn.danger{
    background: #dc3545;
    border:1px solid #dc3545;
    color:var(--white);
  }
  .btn.danger:hover{
    background: #bb2d3b;
    border:1px solid #b02a37;
    color:var(--white);
  }
  .btn.danger:disabled{
    background:#d8d8d8;
    border:1px solid #d8d8d8;
    color:#717171;
    cursor: default;
  }

  .btn.warning{
    background: #ffc107;
    border: 1px solid #ffc107;;
    color:var(--white);
  }
  .btn.warning:hover{
    background:#ffca2c;
    border: 1px solid #ffc720;
    color:var(--white);
  }
  .btn.warning:disabled{
    background:#d8d8d8;
    border:1px solid #d8d8d8;
    color:#717171;
    cursor: default;
  }
  .btn.link{
    color:var(--orange);
    text-decoration: underline;
    font-weight: 400;
  }
  .btn.search{
    border-radius: 100px;    
    background: #0059A6;
    color:var(--white);
    height: 32px;
    padding: 0px 16px;
  }
  .btn.search:hover,
  .btn.search:focus {
    background:#004988;
    color:var(--white)
  }
  .btn.search:disabled{
    background:#d8d8d8;
    border:1px solid #d8d8d8;
    color:#717171;
    cursor: default;
  }
  .btn.sm{
    height:24px;
  }
  .btn.md{
    height: 30px;
  }
  .btn.lg{
    height: 32px;
  }
  .btn.sm[class*=ico-]::before{
    width: 16px;
    height: 16px;
    display: inline-flex;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;   
  }
  .btn.ico-copy::before{
    background-image: url(../images/icon_copy.svg);   
  }
  .btn.ico-move::before{
    background-image: url(../images/icon_move.svg);   
  }
  .btn.ico-del::before{
    background-image: url(../images/icon_del.svg);   
  }
  .btn.ico-xlsdown::before{
    background-image: url(../images/icon_xlsdown.svg);   
  }
  .btn.ico-register::before{
    background-image: url(../images/icon_register.svg);   
  }

  .btn:focus,
  .btn:hover{
    background:var(--primary2);
    color:var(--blacka1);
    border:1px solid var(--primary);   
    box-shadow: 2px 2px 2px rgb(0 0 0 / 35%);
  }
  .btn[disabled]{
    background:#d8d8d8;
    border:1px solid #d8d8d8;
    color:#717171;
    cursor: default;
  }
  .btn[disabled]:hover{
    box-shadow: none;
  }
  .btn-wrap{
    width: 100%;
  }
  .login-btn{
    display:block;
    font-weight:600;
    color:var(--white);
    font-size: 20px;
    text-align: center;
    background:#0d2d4f;
    height: 60px;
    width: 400px;
    border-radius: 4px;
  }
  .login-btn:hover{
    background:var(--primary);
  }
  .ico-text{
    font-size:11px;
    color: var(--blacka1);
    font-weight: 400;
    padding-left:18px;
  }
  .ico-text.transfer{
    background:url(../images/icon_grid_transfer.svg) left center no-repeat;
  }
  .ico-text.viewer{
    background:url(../images/icon_grid_viewer.svg) left center no-repeat;
  }
  .ico-text.del{
    background:url(../images/icon_grid_del.svg) left center no-repeat;
  }

  .ico-text.noimg{
    background:url(../images/icon_grid_noimg.svg) left center no-repeat;
  }
  .ico-text.faxtransfer{
    background:url(../images/icon_grid_faxtransger.svg) left center no-repeat;
  }
  .ico-text.delfax{
    background:url(../images/icon_grid_delfax.svg) left center no-repeat;
  }
  .ico-text.alarm{
    background:url(../images/icon_grid_alarm.svg) left center no-repeat;
  }
  .ico-text.view{
    background:url(../images/icon_grid_view.svg) left center no-repeat;
  }
  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:10px;
    width: 100%;
    margin:15px 0 30px 0;
  }
  .pagination .page-navi.prev,
  .pagination .page-navi.next{
    border:1px solid #ccc;
    border-radius: 100%;
    background-color: var(--white);
    
  }
  .pagination .page-navi.prev:hover
  .pagination .page-navi.next:hover{
    background:var(--primary);
    border:1px solid var(--primary);
  }
  .pagination .page-navi.prev::before{
      display: block;
      content:'';
      width: 14px;
      height: 12px;
      background:url(../images/icon_grid_arrow.svg) center ;
      background-repeat: no-repeat;
  }
  .pagination .page-navi.next{
    background: url(../images/icon_grid_arrow.svg) center ;
    transform: rotate(-180deg);
  }
  .pagination .page-navi{
    display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        color:#555;
        width: 24px;
        height: 24px;
  }
  .pagination .page-navi:hover{   
    background-color: #edf1f5;
    transition: 0.4s ease-in-out;
  }
  .pagination .page-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;    
    gap: 5px;
  }
  .pagination .page-links .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--krds-gray-70);
    min-width: 24px;
    line-height: 24px;
  }
  .pagination .page-links .page-link:hover{
    color:var(--orange);
    text-decoration: underline;
  }
  .pagination .page-links .page-link.active{
    font-weight:600;
    color: var(--white);
    border-radius: 3px;
    background-color: var(--primary);
  }
  
.title_area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:10px
}
.title_area .title{
  color: #000;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
 
}
.breadcrumbs{
  display: flex;
  gap:25px;
  position: relative;

}
.breadcrumbs li{
  display: inline-block;
  color: #323232; 
  font-size: 11px;  
  font-weight: 500;
  line-height: 30px; /* 272.727% */
}
.breadcrumbs li::after{
  content: '';
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 16px;
  top:8px;
  background: url(../images/icon_ab_arrow.svg) 3px 0 no-repeat;
  
}
.breadcrumbs li:last-child::after{
  background: none;
}
.search-group{
  display: block;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  border-top: 4px solid #F26900;
  background: #FFF;
  margin-bottom: 30px;
  width: 100%;

}
.search-group > .search-inner{
  padding:15px 15px 10px 15px;
}
.search-group > .search-inner >.custom-grid,
.search-group > .search-inner > dl{ 
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  align-items: center;
  align-content: space-between;
  grid-gap: 0 8px;
  margin-bottom: 5px;  
}

.search-group > .search-inner div > * {
  grid-column: span 2;
}
.grid-span1 {
  grid-column: span 1 !important;
}

.grid-span2 {
  grid-column: span 2 !important;
}

.grid-span3 {
  grid-column: span 3 !important;
}

.grid-span4 {
  grid-column: span 4 !important;
}

.grid-span5 {
  grid-column: span 5 !important;
}

.grid-span6 {
  grid-column: span 6 !important;
}

.grid-span7 {
  grid-column: span 7 !important;
}

.grid-span8 {
  grid-column: span 8 !important;
}

s .grid-span9 {
  grid-column: span 9 !important;
}

.grid-span10 {
  grid-column: span 10 !important;
}

.grid-span11 {
  grid-column: span 11 !important;
}

.grid-span12 {
  grid-column: span 12 !important;
}

.grid-span13 {
  grid-column: span 13 !important;
}

.grid-span14 {
  grid-column: span 14 !important;
}

.grid-span15 {
  grid-column: span 15 !important;
}

.grid-span16 {
  grid-column: span 16 !important;
}

.grid-span17 {
  grid-column: span 17 !important;
}

.grid-span18 {
  grid-column: span 18 !important;
}

.grid-span19 {
  grid-column: span 19 !important;
}

.grid-span20 {
  grid-column: span 20 !important;
}
.search-group > .search-inner div > *{
  padding-top: 0;
  padding-bottom: 0;
}
.search-group .bttonset{
  position: absolute;
  right: 8px;
  top: 30px;
  margin-top: 0;
  align-items: center;
  width: auto;
  height: 32px;
  min-height: 32px;
  z-index: 99; 
}
.col-2{

}
.col-3{
width:25%;
}
.col-6{
  flex:0 0 auto;
  width: 50%;
}
.col-7{

}
.search-group .search-inner .tit{
  display: none;
}
.date-grop{
  display: flex;
  gap:5px;
  align-items: center;

}
.date-grop span{
  color: #000;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height:24px;
letter-spacing: 0.4px;
min-width: 18px;
} 
.date-grop .date{
  position: relative;
}
          
.date-grop .date .btn-cal{
  display:block;
  position: absolute;
  width: 24px;
  height: 24px;
  background:url(../images/icon_cal.svg) center 0 no-repeat;
  top:0;
  right: 4px;
  background-size: 20px 24px;
}
.grid-info{
  display: inline-flex;
  gap:8px;
  align-items: center;

}
.grid-icon{
  gap:4px;
}
.grid-icon span{
  display: block;
  height: 20px;
  
}
.grid-icon .transfer,
.grid-icon .viewer,
.grid-icon .del,
.grid-icon .noimg,
.grid-icon .faxtransfer,
.grid-icon .delfax,
.grid-icon .alarm,
.grid-icon .view{
 background-position: center center;
}
.modal {
  display: none; /* 기본적으로 숨겨짐 */
  position: fixed;
  z-index: 1; /* 모달이 다른 내용 위에 오게 설정 */
  left: 0;
  top: 0;
  width: 100%; /* 전체 화면 */
  height: 100%; /* 전체 화면 */
  background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%; /* 화면의 80% 너비 */
  max-width: 500px; /* 최대 너비 설정 */
  position: relative;
}
.modal-content .modal-header{
  background: #346AB1;
}
.modal-content .modal-header .modal-title{
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  padding:12px 15px ;
}
.modal-content .modal-conts{
  padding:20px 15px;
  box-sizing: border-box;
}
.modal-content .modal-conts .conts-tit{
  background:url(../images/icon_stitle.svg) left 5px no-repeat;
  background-size:14px;
  padding-left:20px;
  margin-bottom:20px;
}
.modal-content .modal-btn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap:5px;
  width: 100%;
  padding: 20px 15px 15px;
  box-sizing: border-box;
}
/* 닫기 버튼 스타일 */
.modal .btn-close {
  background:url(../images/icon_close_modal.svg) center center no-repeat ;
  background-size: 24px;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top:13px;
  right: 13px;
}
.wmodal .close-modal,
.modal .close-modal{
  min-width: 42px;
  text-align: center;
  padding-inline: 13px;
}

.wmodal{
  display: block;
}
.wmodal .modal-content{
  margin: 0;
  width: auto;
  max-width: none ;
  border:none;
}

.gird-btn-wrap{
  display: grid;
 grid-template-columns: 300px 1fr auto;
  align-items: end;
  margin-bottom: 10px;
}
.gird-btn-wrap .grid-total{
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  
}
.gird-btn-wrap .grid-total .total{
  margin-right: 10px;
}
.gird-btn-wrap .grid-total .num{
  color:var(--orange);
  text-align: center;
  
}
.gird-btn-wrap .grid-total .now{
  color:var(--orange);
  text-align: center;
}

/*table*/
.tbl-wrap table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid #c1c1c1;
}
.tbl-wrap .tbl.data{
  border-top:2px solid #043B72;
}
.tbl-wrap .tbl.data thead th{
  padding:8px 10px;
  background-color: var(--white);
  border-bottom: 1px solid #043B72;
  font-size:14px;
  color:var(--balck00);
  font-weight: 500;
  text-align: left;
  text-align: center; 
  border-right: 1px solid #c1c1c1; 
}
.tbl-wrap .tbl tbody td{
  border-right: 1px solid #c1c1c1; 
}
.tbl-wrap .tbl.data thead th:first-child{
  border-left: 1px solid #c1c1c1;
}

.tbl-wrap .tbl.data tbody th, .tbl-wrap .tbl.data tbody td{
  height: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: var(--white);
  border-bottom: 1px solid #C1C1C1;
  font-size: 14px;
  color:var(--blacka1);
  font-weight: 400;
  text-align: left;
}
.tbl-wrap .tbl tr:nth-child(even) td{
  background-color:#F6F6F6 ;
}
.tbl-type1{
  border: 1px solid #b6b6b6;
  background: var(--white);

}
.tbl-type1 th,
.tbl-type1 td{
  padding:6px 0;
}
.tbl-type1 th{
  background: #ECF3F9;
}
.tbl-type1 tr ~ tr{
  border-top:1px solid #c1c1c1;
}
.tbl-type1 th{
  text-align: left;
  border:1px solid #b6b6b6;
  padding:6px 10px;
}
.tbl-type1 th label{
  color:var(--balck00);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 18px;
}

.tbl-type1 td{
  padding:6px 10px; 
  text-align: left;
  min-height: 40px;
}
.state-required{
  color:#ff0000 !important;
  margin-right: 5px;
}
.file-box{
  display: block;
  position: relative;
}
.guid-box{
  display: flex;
  gap:56px;
  justify-content: center;

}
.guid-box .box{
  display: block;
  width: 170px;
  height: 110px;
  position: relative;
}
.guid-box .box:first-child{
  width:310px;
}
.guid-box .box .step01{
  width: 170px;
}
.guid-box .box:first-child::after{
  position: absolute;
  left:312px;
  top:43px
}
.guid-box .box::after{
  content: '';
  display: inline-block;
  background: url(../images/icon_guid_arrow.svg) center center no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 178px;
  top:43px;


}
.guid-box .box:last-child::after{
  display: none;
}
.guid-box .title{
  background:#006FB3;
  font-size: 12px;
  color:var(--white);
  padding:7px;
  line-height: 16px; 
  position: relative;
  
}
.guid-box .box .title::after{
  content: '';
  display: inline-block;
  background:url(../images/icon_step01.svg) center center no-repeat;
  background-size: 16px 16px;
  position: relative;
  width: 16px;
  height: 16px;

}
.guid-box .step02{
  background: #601ADB;
}
.guid-box .step02::after{
  background:url(../images/icon_step02.svg) 0 0 no-repeat;
}
.guid-box .step03{
  background: #BB1B86;
}
.guid-box .step02::after{
  background:url(../images/icon_step03.svg) 0 0 no-repeat;
}
.guid-box .detail{
  background:white;
  border:1px solid #e0e0e0;
  padding:14px 10px; 
  height: 52px;
}
.guid-box .detail p, span{
  font-size: 12px;
  letter-spacing: -0.5px;
  word-break: keep-all;
}
.guid-box .step04{
  display: block;
  position: absolute;
  top:63px;
  left:135px;
  width: 170px;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.25);

}
.guid-box .step04 .title{
  background:#EBF1FE;
  color:#1c1c1c;
}
.guid-box .step04 .title::after{
  display: none;
}
.guid-box .step04 .detail{
  border: 0;
  padding:4px 10px;
  height: 70px;
}
.guid-box .step04 .detail p, 
.guid-box .step04 .detail span{
  font-size: 11px;
}